html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    display: flex;
    align-items: center;
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
    z-index: 100;
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}

.page-header__logo {
    flex-shrink: 0;
    width: 202px;
    height: 147;
    font-size: 0;
    text-decoration: none;
}

.page-header__logo-icon {
    width: 100%;
    height: 100%;
}

.page-header__nav {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    gap: 50px;
}

.page-header__nav-link {
    margin: 0 25px;
    color: #1f1e1e;   
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.3;
    transition: color 0.2s;
}

.page-header__nav-link:hover,
.page-header__nav-link:active{
    color: #bc3324;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 40px;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #1f1e1e;
    border-radius: 0;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #1f1e1e;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #1f1e1e;
    color: #ffffff;
}

.listing{
    flex-direction: column;
}

.listing__events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.events__listing{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}

.section-title {
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    width: 624px;
    height: 62px;
    top: 3433px;
    left: 648px;
    gap: 0px;
    opacity: 0px;
    background-color: black;
    color: white;
    text-transform:uppercase;

    
}

.event-card{
    display: flex;
    width: 405px;
    height: 638px;
    max-width: 100%;
    min-width: 280px;
}

.event-card__link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    color: #1F1E1E;
}

.events-card__link:hover .events-card__title{
    color: #bc3324;
    text-decoration-color: #bc3324;
}

.events-card__picture {
    display: block;
    position:relative;
    margin: 0 0 25px;
    width: 100%;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
}

.events-card__picture::after{
    content: "";
    display: block;
    width: 100%;
    padding-top: 107,16%;
}

.events-card__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events-card__title{
    margin: 0 0 15px;
    min-width: 66px;
    color:#1F1E1E;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-decoration: underline transparent;
    transition: color 0.2s, text-decoration-color 0.2s;
}


.events-card__text {
    margin: 0 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

.events-card_time{
    margin-top: 15px;
    display: block;
}

.listing__events-card{
    width: calc(33.333% - 40px);
}

.main {
    flex: 1 0 auto;
}

.page-footer {
    flex: 0 0 auto;
    background-color:black;
    color: white;
}

