html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
}

.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: white;
    backdrop-filter: blur(20px);
}

.page-header__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width:1414px;
    width: 100%;
}

.page-header__nav-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.3;
    color: black;
    transition: color 0.2s;
}

.page-header__nav-link:hover,
.page-header__nav-link:active {
    color: #bc3324;;
}
.page-header__btn:hover,
.page-header__btn:active {
    color:#bc3324;
    transition: color 0.2s;
}

.page-header__right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
}

.btn {
    display: inline-flex;
    box-sizing:border-box;
    padding: 15px 40px;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #1f1e1e;
    border-radius: 0;
    outline: none;
    font-weight: 600;
    font-size: 16px;

}

.page-header__btn {
    color:black;
}

.main{
    flex: 1 0 auto;
    background-color:blanchedalmond;
}

.page-footer {
    flex: 0 0 auto;
    background-color: burlywood;
}

